<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<div class="card">
<div class="card" style="width: 18rem;">  
    <img src="..." class="card-img-top" alt="...">  
    <div class="card-body">  
        <h4 class="card-title">Card title</h4> 
        {{produit.nom | slice : 0:10}} 
        <span *ngIf="produit.nom.length > 10">...</span>
        <h6 *ngIf="produit.artiste"> {{produit.artiste}} </h6>
        <h6 *ngIf="produit.real"> {{produit.real}} </h6>
        <img src="" alt="image de licorne">
        <p class="card-text" *ngIf="produit.synopsis">
            {{produit.synopsis | slice : 0:140}}
        </p>  
        <a routerLink="/product/{{produit.id}}" class="btn btn-primary">Détails</a>  
</div> 
</div>
</div>

