h3{
    font-weight: bold;
    padding: 10px;
    margin: 5px;
    width: 300px;
    background-color:white;
    color: black;
    -webkit-border-radius: 20px;
    border-radius: 20px;
}
.title{
    display: flex;
    text-align: center;
    justify-content: left;
    margin: 25px;
    
    
}